<div class="block">
<p>这是一个摸鱼工程，目的是方便推算和共享一些游戏中的数据。欢迎增加或完善功能、优化界面、完善多语言翻译，连接在导航的关于下面。 </p>
<p>怎么提交这些内容？在github上fork我的代码，增加你的内容，然后向我的项目发起一个pull request请求并等候通过。</p>
<p>更新日志为源代码提交记录，不一定会实时同步到服务器，详细请参考底部显示的日期与记录提交的日期。</p>
</div>
<div class="block">
<p>This is a project for computing and sharing some data of the game. I will be very happy If you commit your codes,language files or the views.</p>
<p>How to commit? First, fork my code on github. Then add your code into it. Final, create a new pull request to my project and just wait for morge.</p>
<p>The update log is just the note of commits. It maybe NOT update to this server in time. Please check the date at the bottom of the site and the date of commits.</p>
</div>