
	<link rel="stylesheet" type="text/css" href="<?php echo $system->ini_get('styles_url');?>coe.css">
	<script type="text/javascript">
		function DATA_BASE(){
			return "<?php echo URLROOT; ?>data/";
		}
		//伤害类型相关功能定义区，避免模块间直接调用时一个目标模块未加载或加载失败报未定义错误
		//为了方便，我们这还为别的数据提供接口
		globla_function=(function(){
			var damage_type="physical_damage";
			var listeners=[];
			return {
				is_damage:function(name){
					if(name=="magic_damage"||name=="physical_damage") return true;
					else return false;
				},
				add_listener:function(fun){
					listeners[listeners.length]=fun;
				},
				set_damage_type:function(name){
					if(this.is_damage(name)){
						if(name!=damage_type){
							damage_type=name;
							for(var i=0;i<listeners.length;i++){
								//将伤害改变的事件传递给已注册的回调
								listeners[i]("damage",name);
							}
						}
					}
				},
				get_damage_type:function(){
					return damage_type;
				},
				get_attribute_type:function(name){//名字到类型（魔法伤害/物理伤害）转（伤害）
					if(this.is_damage(name)) return "damage";
					else return name;
				},
				get_attribute_name:function(type){//类型到名字（伤害）转（魔法伤害/物理伤害）
					if(type=="damage") return this.get_damage_type();
					else return type;
				},
				display_attributes:function(attribute,div){
					var str="";
					for(var i in attribute){
						// if(attributes[i]){
							//str+="<div class='attribute_item'><span class='attribute_name'>"+attributes[i].name+"</span><span class='attribute_value'>"+attribute[i].toFixed(attributes[i].fixed)+"</span></div>";
							str+=myScript.template_get_html("attribute_item",{name:$.lang("base."+i),value:attribute[i].toFixed(fixed[i]||0)});
						// }
					}
					div.innerHTML=str;
				},
				get_attributes:function(list,tar_div,all){
					var attribute={};
					for(var i=0;i<list.length;i++){
						if(list[i].get_attribute){
							var a=list[i].get_attribute();
							//console.log(list[i],a,attribute);
							for(var j in a){
								if(attribute[j]) attribute[j]+=a[j];
								else attribute[j]=a[j];
							}
						}
					}
					if(tar_div){
						this.display_attributes(attribute,tar_div);
					}
					return attribute;
				}
			}
		})();
	</script>
	<div id="main">
		<div id="basevalue" class="type_root block">
			<div><?php echo $system->lang("base","basevalue");?><div class="checkbutton"><div class="show"></div></div></div>
			<div id="basevalue_show" style="display: none;">
			</div>
		</div>
		<div id="class" class="type_root">
			<div class="block">
				<div><?php echo $system->lang("base","class");?> : <select id="select_class"></select><div class="checkbutton"><div class="show"></div></div></div>
				<div style="display: none;">
					<div id="class_lv_header"></div>
					<div id="class_lv_body"></div>
					<div id="class_lv_footer"></div>
				</div>
			</div>
		</div>
		<div id="gem" class="type_root block">
			<div>
				<?php echo $system->lang("base","gem");?>
				<span id="main_peibi">
					<input class="peibi" type="number" min="0"/>
					<input class="peibi" type="number" disabled="disabled"/>
					<input class="peibi" type="number" min="0"/>
					<input class="peibi" type="number" disabled="disabled"/>
					+
					<input class="peibi" type="number" min="0"/>
					<input class="peibi" type="number" disabled="disabled"/>
					<input class="peibi" type="number" min="0"/>
					<input class="peibi" type="number" disabled="disabled"/>
				</span>
				<div class="checkbutton" cid="gem_body"><div class="show"></div></div>
			</div>
			<div id="gem_body" style="display: none;">
				<div class="block">
					<div>配比测试单元(暂未完成)<div class="checkbutton"><div class="show"></div></div></div>
					<div style="display: none;">
						<div>
							主属性
							<select id="gem_paibi_main" class="gem_attribute_select" selectedOptions="damage"></select>
							从属性
							<select id="gem_paibi_o" class="gem_attribute_select" selectedOptions="critical_damage"></select>
						</div>
					</div>
				</div>
				<div id="gem_data"></div>
			</div>
			<div id="gem_res"></div>
		</div>
		<div id="dragon" class="type_root block">
			<div><?php echo $system->lang("base","dragon");?><div class="checkbutton"><div class="show"></div></div></div>
			<div id="dragon_data" style="display: none;"></div>
			<div id="dragon_res"></div>
		</div>
		<div id="mastery" class="type_root block">
			<div><?php echo $system->lang("base","mastery");?></div>
			<div>
				<div>
					<?php echo $system->lang("base","mastery_point");?> <input type="number" id="mastery_point"/>
					=
					<?php echo $system->lang("base","lv");?> <input type="number" id="mastery_lv" value="600"/>
					+
					<input type="number" id="mastery_lv_point" value="0"/>/<spawn id="mastery_need"></spawn>
				</div>
				<div id="mastery_bar"><div></div></div>
			</div>
		</div>
		<div id="equipment" class="type_root block">
			<div><?php echo $system->lang("base","equipment");?><div class="checkbutton"><div class="show"></div></div></div>
			<div id="equipment_data" style="display: none;">
				<div id="equipment_body"></div>
				<div id="equipment_res"></div>
			</div>
		</div>
		<div id="allies" class="type_root block">
			<div><?php echo $system->lang("base","allies");?><div class="checkbutton"><div class="show"></div></div></div>
			<div></div>
		</div>
		<div id="club" class="type_root block">
			<div><?php echo $system->lang("base","club");?><div class="checkbutton"><div class="show"></div></div></div>
			<div style="display: none;">
				<div id="club_body"></div>
				<div id="club_res"></div>
			</div>
		</div>
		<div id="food" class="type_root block">
			<div><?php echo $system->lang("base","food");?><div class="checkbutton"><div class="show"></div></div></div>
			<div><select><option value=""><?php echo $system->lang('base','none');?></option></select></div>
		</div>
		<div id="subclass" class="type_root block">
			<div><?php echo $system->lang("base","subclass");?><div class="checkbutton"><div class="show"></div></div></div>
			<div>
				<select><option value=""><?php echo $system->lang('base','none');?></option></select>
				<div id="subclass_res"></div>
			</div>
		</div>
		<div id="res" class="block">
			<div class="block">
				<div><?php echo $system->lang('base','OriginalResult');?><div class="checkbutton"><div class="show"></div></div></div>
				<div id="res_o" style="display: none;"></div>
			</div>
			<div class="block">
				<div><?php echo $system->lang('base','GameResult');?><div class="checkbutton"><div class="hidden"></div></div></div>
				<div>
					<div class="attribute_item"><span class="attribute_name"><?php echo $system->lang("base","magic_damage");?></span><span class="attribute_value" id="res_magic_damage">0</span></div>
					<div class="attribute_item"><span class="attribute_name"><?php echo $system->lang("base","physical_damage");?></span><span class="attribute_value" id="res_physical_damage">0</span></div>
					<div class="attribute_item"><span class="attribute_name"><?php echo $system->lang("base","health");?></span><span class="attribute_value" id="res_health">0</span></div>
					<div class="attribute_item"><span class="attribute_name"><?php echo $system->lang("base","coe");?></span><span class="attribute_value" id="res_coe">0</span></div>
					<div class="attribute_item"><span class="attribute_name"><?php echo $system->lang("base","energy_regeneration");?></span><span class="attribute_value" id="res_energy_regeneration">0</span></div>
					<div class="attribute_item"><span class="attribute_name"><?php echo $system->lang("base","max_energy");?></span><span class="attribute_value" id="res_max_energy">0</span></div>
					<div class="attribute_item"><span class="attribute_name"><?php echo $system->lang("base","health_regeneration");?></span><span class="attribute_value" id="res_health_regeneration">0</span></div>
				</div>
			</div>
		</div>
	</div>


	<templates>
		<!--宝石颜色模板-->
		<template name="gem_class">
			<div class="gem_class block">
				<div class="type_name">
					<span>{name}</span>
					<span class="gem_peibi">
							<input class="peibi" type="number" min="0"/>
						<input class="peibi" type="number" disabled="disabled"/>
						<input class="peibi" type="number" min="0"/>
						<input class="peibi" type="number" disabled="disabled"/>
					</span>
					<?php echo $system->lang('base','primordial_dragon')?> <input class="has_dragon" type="checkbox" {dragon}/>
					<div class="checkbutton"><div class="show"></div></div>
				</div>
				<div style="display: none;">
					<div class="gem_type">
						<div class="name"><?php echo $system->lang("gem","empowered_gem");?></div>@__gem__#type=empowered#cosmic_gem={cosmic_gem}
					</div>
					<div class="gem_type">
						<div class="name"><?php echo $system->lang("gem","normal_gem");?></div>@__gem__#type=normal#cosmic_gem={cosmic_gem}
					</div>
					<div class="gem_type">
						<div class="name"><?php echo $system->lang("gem","normal_gem");?></div>@__gem__#type=normal#cosmic_gem={cosmic_gem}
					</div>
				</div>
			</div>
		</template>
		<!--宝石属性模板-->
		<template name="gem">
			<div class="gem_data" type="{type}">
				<div>
					<div></div>
					<div>1</div>
					<div>2</div>
					<div>3</div>
				</div>
				<div class="gem_attribute_type">
					<div><?php echo $system->lang('base','attribute');?></div>
					<div>
						<select class="gem_attribute_select" selectedOptions="damage"></select>
					</div>
					<div>
						<select class="gem_attribute_select" selectedOptions="critical_damage"></select>
					</div>
					<div>
						<select class="gem_attribute_select" cosmic_gem="{cosmic_gem}" selectedOptions="critical_hit"></select>
					</div>
				</div>
				<div>
					<div><?php echo $system->lang('base','GemJump');?></div>
					<div class="jump"><input type="range" min="0" max="2" value="0" step="1"/></div>
				</div>
				<div>
					<div><?php echo $system->lang('base','GemJump');?></div>
					<div class="jump"><input type="range" min="0" max="2" value="0" step="1"/></div>
				</div>
				<div>
					<div><?php echo $system->lang('base','GemJump');?></div>
					<div class="jump"><input type="range" min="0" max="2" value="0" step="1"/></div>
				</div>
				<div class="gem_res">
					<div><?php echo $system->lang('gem','check.res');?></div>
					<div><span>0</span></div>
					<div><span>0</span></div>
					<div><span>0</span></div>
				</div>
			</div>
		</template>
		<template name="attribute_item">
			<div class="attribute_item"><span class="attribute_name">{name}</span><span class="attribute_value">{value}</span></div>
		</template>
		<template name="dragon_type">
			<div class="block">
				<div>{name}<span class="number">0/0</span><div class="checkbutton"><div class="show"></div></div></div>
				<div class="dragon_data" style="display: none;"></div>
			</div>
		</template>
		<template name="club_item">
				<div>
					<span>{name}</span>
					<select class="club_select">
						<option value="-1"><?php echo $system->lang('base','none');?></option>
						<option value="0"><?php echo $system->lang('club','Fixture.tier1');?></option>
						<option value="1"><?php echo $system->lang('club','Fixture.tier2');?></option>
						<option value="2"><?php echo $system->lang('club','Fixture.tier3');?></option>
					</select>
				</div>
		</template>
		<template name="equipment_item">
			<div class="block">
				<div class="equipment_item_base">
					<div class="equipment_name">{name}</div>
					<div>
						<select class="equipment_type">{typedata}</select>
						<select class="equipment_lv"></select>
					</div>
				</div>
				<div class="equipment_attributes"></div>
			</div>
		</template>
		<template name="equipment_attribute">
			<p>
				<select selectedOptions="{select}" class="equipment_attribute">
					{option}
				</select>
				<span>output</span>
			</p>
		</template>
	</templates>
	<script type="text/javascript">
		var fixed={
			critical_hit:2,
			critical_damage:2
		}
		// var attributes={
		// 	physical_damage:{fixed:0,gem:true},
		// 	physical_damage_:{fixed:0},
		// 	magic_damage:{fixed:0,gem:true},
		// 	magic_damage_:{fixed:0},
		// 	damage:{},
		// 	damage_:{fixed:1},
		// 	critical_damage:{fixed:2,gem:true},
		// 	critical_hit:{fixed:2,gem:true},
		// 	max_health:{fixed:0,gem:true},
		// 	max_health_:{fixed:0,gem:true},
		// 	health_regeneration:{},
		// 	health_regeneration_:{},
		// 	max_energy:{},
		// 	energy_regeneration:{},
		// 	energy_regeneration_:{},
		// 	lasermancy:{},
		// 	jump:{},
		// 	light:{fixed:0,gem:false,cosmic_gem:true},
		// 	magic_find:{fixed:0,gem:false},
		// 	attack_speed:{},
		// 	move_speed:{}
		// };
	$(function(){
		//模板初始化
		myScript.template_init();
		//加载模块脚本
		var types=$(".type_root");
		for(var i=0;i<types.length;i++){
			var s=$.set("script",$("body")[0]);
			s.src="<?php echo URLROOT;?>script/calculator/"+types[i].id+".js";
			s.onerror=( function(name){
				return function(){
					console.log("can not load the script for "+name);
					$("#"+name).setAttribute("script_error","");
				}
			})(types[i].id);
		}
	});
	</script>
	<script type="text/javascript" src="<?php echo URLROOT;?>script/calculator/res.js"></script>
	<script type="text/javascript">
		document.addEventListener("click",function(ev){//折叠/展开按钮的事件代理，由于不是在模块内部，使用addEventListener防止和其他模块冲突
			var b;
			//判断事件是否在按钮上并获取按钮节点
			if(ev.target.className=="checkbutton") b=ev.target;
			else if(ev.target.parentNode.className=="checkbutton") b=ev.target.parentNode;
			if(b){//说明找到并成功获取了按钮节点
				if(b.firstElementChild.className=="show"){
					b.firstElementChild.className="hidden";
					(b.getAttribute("cid")?$("#"+b.getAttribute("cid")):b.parentElement.nextElementSibling).style.display="";
				}else{
					b.firstElementChild.className="show";
					(b.getAttribute("cid")?$("#"+b.getAttribute("cid")):b.parentElement.nextElementSibling).style.display="none";
				}
			}
		});
	</script>
